<div class="nav-items">
  <div class="nav-item">
    <span>Dashboard</span>
  </div>
  <div class="nav-item">
    <span>States</span>
  </div>
  <div class="nav-item">
    <span>Comments</span>
  </div>
  <div class="nav-item">
    <span>Responses</span>
  </div>
  <div class="nav-item">
    <span>Member details</span>
  </div>
  <div class="nav-item">
    <span>Statistics</span>
  </div>
  <app-aboutus>
    <div class="nav-item">
      <span>About Us</span>
    </div>
  </app-aboutus>
  <app-global-mission>
    <div class="nav-item">
      <span>Global Mission</span>
    </div>
  </app-global-mission>
</div>
