<div class="tooltip">
  <ng-content></ng-content>
  <div class="tooltip-content">
    <h1>Empowering Reproductive Health</h1>
    <h3>
      We are a passionate team dedicated to providing exceptional products and
      services. Our journey began with a vision to create something meaningful
      and impactful.
    </h3>
    <section class="feature-section">
      <h1>Local Language Chatbot</h1>
      <p>
        Provide information on pain management, sanitary products, and dispel
        myths. The chatbot is designed to assist users in their local language.
      </p>
    </section>

    <section class="feature-section">
      <h1>Locate Nearby Doctors and Pharmacies</h1>
      <p>
        The platform enables users to find nearby doctors and pharmacies,
        ensuring convenient access to healthcare services.
      </p>
    </section>

    <section class="feature-section">
      <h1>Menstruation Tracker</h1>
      <p>
        Track and manage menstrual cycles with our user-friendly period tracker,
        helping users stay informed about their reproductive health.
      </p>
    </section>

    <section class="feature-section">
      <h1>Feedback Collection and Analysis</h1>
      <p>
        Gather user feedback seamlessly and provide insightful analysis,
        contributing to the continuous improvement of our services.
      </p>
    </section>

    <section class="video-section">
      <h1>Informational Videos on Sex Education and Contraception</h1>
      <p>
        Access a collection of informative videos on sex education and
        contraception, fostering awareness and promoting responsible
        reproductive health practices.
      </p>
    </section>
    <h3>Our Mission</h3>
    <p>
      To empower individuals and businesses through innovative solutions,
      fostering growth and success in an ever-evolving digital landscape.
    </p>
    <br />

    <section class="section">
      <h1>How the App Works</h1>

      <section class="section">
        <h2>The App</h2>
        <p>
          Contains various features including the chatbot, locator, period
          tracker, feedback collection, and informational videos.
        </p>
        <p>Admin panel available for Yug members.</p>
      </section>

      <section class="section">
        <h2>SMS Queries</h2>
        <p>Uses a local phone acting as a sub-server.</p>
        <p>Allows reading and sending SMS through the local phone.</p>
        <p>Data decryption takes place on the local phone itself.</p>
      </section>
    </section>
  </div>
</div>
