<div class="tooltip">
  <ng-content></ng-content>

  <div class="tooltip-content">
    <h2>Welcome to Project Athena</h2>
    <p>
      Project Athena is an NGO dedicated to breaking the taboos surrounding
      menstrual hygiene in India and beyond.
    </p>

    <p>Our Global Mission:</p>
    <p>
      At Project Athena, we envision a world where menstruation is celebrated as
      a natural and essential aspect of life. We are committed to extending our
      outreach to lesser privileged countries, striving to create a positive and
      inclusive environment for everyone, regardless of their socio-economic
      background.
    </p>

    <p>
      Beyond providing menstrual hygiene products, we focus on comprehensive
      education and awareness programs. We believe that knowledge is a powerful
      tool for change, and through our initiatives, we aim to empower
      communities to embrace menstrual health with dignity and pride.
    </p>

    <p>
      Project Athena operates on the principles of inclusivity, equality, and
      sustainability. Our dedicated team works tirelessly to implement
      sustainable solutions that not only address immediate needs but also
      contribute to the long-term well-being of communities. Together, we can
      break the silence and eliminate the barriers that hinder menstrual hygiene
      access globally.
    </p>

    <p>
      Join us in this transformative journey as we advocate for a world where
      menstruation is understood, respected, and celebrated by all. Together, we
      can make a lasting impact and create positive change for generations to
      come.
    </p>
  </div>
</div>
