<div class="widget-container">
  <div class="widget green">
    <div class="icon"></div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">States</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon"></div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">Members</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon"></div>
    <div class="value">
      <div class="top">45784</div>
      <div class="bottom">Questions Answered</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon"></div>
    <div class="value">
      <div class="top">Collaboration With</div>
      <div class="bottom">Yug Foundation</div>
    </div>
  </div>
</div>
