.main-container {
  display: flex;
  border-radius: 90px;
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #f6909d;
    color: #fff;
    box-shadow: 5px 5px 5px #d8d8d8;
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }
  .main {
    padding: 30px;
  }
}


